-
  var option = {
    prev_text: 'PREV',
    next_text: 'NEXT',
    mid_size: 1
  }
nav#pagination
  if(!is_post())
    .pagination!= paginator(option)
  //- 是文章内容页面
  else
      if(page.prev)
          a(class="prev",href=url_for(page.prev.path))
            span= page.prev.title
      if(page.next)
          a(class="prev",href=url_for(page.next.path))
            span= page.next.title